:root {
	--color-dark: #444444;
	--color-light: #fafafa;
}

[data-theme='light'] {
	--color-body: var(--color-light);
	--font-color: var(--color-dark);
	--font-color-invert: var(--color-light);
	--color-brand: #334455;
}

[data-theme='dark'] {
	--color-body: var(--color-dark);
	--font-color: var(--color-light);
	--font-color-invert: var(--color-dark);
	--color-brand: #fade00;
}

@media screen and (min-width: 900px) {
	html {
		font-size: 16px;
	}
	.central-column {
		max-width: 900px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 899px) {
	html {
		font-size: 20px;
	}
}

body {
	background: var(--color-body);
	color: var(--font-color);
	margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
}

#masthead {
    background: #334455; /* Fallback for IE, obviously */
	background: var(--color-brand);
	padding: 1rem;
    text-align: right;
}

main {
	padding: 1rem;
}

button {
	-webkit-appearance: none;
	background: rgba(0,0,0,0);
	border: none;
	color: var(--font-color-invert);
}
